<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Network setup</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Name</string>
			<key>default</key>
			<string>Apollon</string>
			<key>defaults</key>
			<string>org.bitspin.zsrelay.launcher</string>
			<key>key</key>
			<string>ESSID</string>
			<key>noAutoCorrect</key>
			<integer>1</integer>
		</dict>
<!--
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>BSSID</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>org.bitspin.zsrelay.launcher</string>
			<key>key</key>
			<string>BSSID</string>
			<key>noAutoCorrect</key>
			<integer>1</integer>
		</dict>
-->
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>label</key>
			<string>Password</string>
			<key>defaults</key>
			<string>org.bitspin.zsrelay.launcher</string>
			<key>key</key>
			<string>key</string>
			<key>noAutoCorrect</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Security</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>org.bitspin.zsrelay.launcher</string>
			<key>key</key>
			<string>security</string>
			<key>label</key>
			<string>Security</string>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>WEP</string>
				<string>WPA</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Automatic WiFi on/off</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.bitspin.zsrelay.launcher</string>
			<key>key</key>
			<string>killWifi</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>factoryDefaultsButton:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>isDestructive</key>
			<false/>
			<key>label</key>
			<string>Reset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>WiFi Settings</string>
</dict>
</plist>
