<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>ID_ENABLE_ZSRELAY</string>
			<key>icon</key>
			<string>pref_zsrelay.png</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.bitspin.zsrelay</string>
			<key>key</key>
			<string>zsrelayEnabled</string>
			<key>set</key>
			<string>setDaemonEnabled:specifier:</string>
			<key>get</key>
			<string>getDaemonEnabled:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>ID_ENABLE_INSOMNIA</string>
			<key>icon</key>
			<string>pref_insomnia.png</string>
			<key>alternateColors</key>
			<true/>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.bitspin.zsrelay</string>
			<key>key</key>
			<string>networkKeepAlive</string>
			<key>set</key>
			<string>setPrefVal:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>ID_SSH_QUICKLAUNCH</string>
			<key>icon</key>
			<string>pref_ssh.png</string>
			<key>alternateColors</key>
			<true/>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.bitspin.zsrelay</string>
			<key>key</key>
			<string>sshOnLaunch</string>
			<key>set</key>
			<string>setPrefVal:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ID_INSOMNIA_BATTERY_WARNING</string>
			<key>alignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>AdvancedController</string>
			<key>label</key>
			<string>ID_LINK_ADVANCED</string>
		</dict>
                <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
                        <true/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ID_ZSRELAY_PROMO</string>
			<key>alignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>action</key>
			<string>supportButton:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>isDestructive</key>
			<true/>
			<key>label</key>
			<string>ID_BUTTON_SUPPORT_ZSRELAY</string>
		</dict>
	</array>
	<key>title</key>
	<string>zsrelay</string>
</dict>
</plist>
